
* .center-v {
  display: table;
}

.center-v {
  display: table-cell;
  vertical-align: middle;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.header {
  box-shadow: 0 2px gray;
}
